registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@typescript-eslint:registry=https://registry.npmjs.org/
@vitejs:registry=https://registry.npmjs.org/
@reduxjs:registry=https://registry.npmjs.org/